* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
}

.back-img {
  background-image: url("../images/Maido.jpg");
  background-size: 100% 100%;
  height: 100vh; 
}

.card {
  display: flex;
  flex-direction: column;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title, .title-menu {
  display: flex;
  justify-content: center;
  margin: 25px auto;
}


.card-img img {
  margin: 25px;
  width: 240px;
  height: 200px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.icons-card img {
  margin: 7px;
  width: 35px;
  height: 35px;
  filter: invert(50%);
}

.logo img {
  margin: 5px;
  width: 65px;
  height: 65px;
}